/****************************/
/*    02 COLORS
 
- Primary: #228be6 #339af0 #74c0fc
- Accent: #549f93 
- Accent: #E2C2FF
- Grey: #212529 #343a40 #f1f3f5

*****************************/

/****************************/
/*    CSS RESET             */
/****************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* overflow-x: hidden; */
}

body {
  font-family: sans-serif;
  font-size: 1.4rem;
  line-height: 1;
  font-weight: 400;
  color: #343a40;
  overflow: hidden;
}

/****************************/
/*   MAP CONTAINER LAYOUT   */
/****************************/

#mapdiv {
  height: 100vh;
  font-size: 1.4rem;
}

.grid {
  /* border: 1px solid red; */

  display: grid;
  grid-template-columns: 26rem 1fr;
}

/****************************/
/*   INFO CONTAINER                 */
/****************************/

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  /* background: white; */
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}
